{"filter":false,"title":".gitignore","tooltip":"/findhangout/.gitignore","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":136,"mode":"ace/mode/ini"}},"timestamp":1617347225943,"hash":"d91fc4eb7de8f58dc43be265a70d6dd263f6401c"}