<div class="sidebar_content"><a href="/sidebar/sidebar1"><%= image_tag 'sidebar(1).jpg' %></a></div>
<div class="sidebar_content"><a href="/sidebar/sidebar2"><%= image_tag 'sidebar(2).jpg' %></a></div>