<div class="sidebar_content"><a href="/sidebar/sidebar1"><%= image_tag 'sidebar(1).jpg' %></a></div>
<div class="sidebar_content"><a href="/sidebar/sidebar2"><%= image_tag 'sidebar(2).jpg' %></a></div>
<div class="sidebar_content"><a href="https://www.instagram.com/fing_out/"><%= image_tag 'sidebar(3).jpg' %></a></div>