<%= image_tag 'sidebar(1).jpg', id: 'mainvisual' %>
<div id="text-top">
  <h3>FingOut―フィンガウト―は街を楽しむためのサイトです。</h3>
  <h6>おすすめスポットを巡る「プラン」を検索・投稿できます。</h6>
</div>

<div class="container">
  <div class="row">
    <div id="text" class="col-sm-6">
      <h5>Find out 発見する</h5>
      <h6>新しい街を見つける。</h6>
      <p>
        聞き馴染みのない街に行ってみませんか？<br>
        知らない街で新鮮な体験を。<br>
        初めて行くカフェやショップ、穴場スポット、、、<br>
        きっと新たな発見があるはず。
      </p>
      <h6>自分の街の、新たな魅力を知る。</h6>
      <p>
        住み慣れた街でも、まだまだ知らない場所があるかも。<br>
        いつも通り過ぎる近くの駅にも、素敵な場所があるはず。<br>
        地元を楽しんでみませんか？<br>
        きっと新たな発見があるはず。
      </p>
    </div>
    <div id="image" class="col-sm-6">
      <%= image_tag 'setasen.jpg' %>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div id="text" class="col-sm-6">
      <h5>Hang out 遊ぶ</h5>
      <p>
        街をぶらぶらするという遊び。<br>
        ショッピングモールで1日というのも良いけど、<br>
        それとは違った楽しさを。<br>
      </p>
      <p>
        そこにしかない雑貨屋さんで、お洒落な小物を見たり、<br>
        カフェでコーヒーを飲んだり、<br>
        たまには公園でのんびりしたり、
      </p>
      <p>
        そんな休日って、なんか良い。
      </p>
    </div>
    <div id="image" class="col-sm-6">
      <%= image_tag 'kouen.png' %>
    </div>
  </div>
</div>

<div id="last">
  <p>
    友達と遊ぶとき、どこに行きますか？<br>
    いつも同じところ？とりあえず有名なところ？<br>
  </p>
  <p>
    どこに行こうか迷ったときに、
  </p>
  <h3>FingOut！</h3>
</div>